.title-text {
  background: peachpuff;
}
.text-center {
  text-align: center;
}
.text-white {
  color: white;
}
.info {
  text-indent: 1rem;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  background: lightcoral;
  border-bottom: 1px solid gray;

}
.my-0 {
  margin: 0 auto;
}
.my-1 {
  margin: 1rem auto;
}
.py-1 {
  padding: 1rem 0;
}

.form-wrap {
  max-width: 1190px;
}
.input-wrap {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  height: 40px;
}
[type=number] {
  text-indent: 1rem;
}
.owner {
  background: pink;
}
.fixed {
  position: fixed;
}
.w100 {
  width: 100vw;
}
.bottom0 {
  bottom: 0;
}